---
import MapContainer from "../components/React/MapContainer.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="p-10">
        <MapContainer client:load />
    </div>
</Layout>
