---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-col gap-4">
		<p>Hola esta es la página principal ¿Qué quieres hacer?</p>
		<a href="/register">Ir a la página de registro</a>
		<a href="/login">Ir a la página de login</a>
	</div>
</Layout>
