---
import AuthGuard from '../components/React/AuthGuard';
import MapContainer from '../components/React/MapContainer';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<AuthGuard client:load fallback="login">
        <div class="p-10">
            <MapContainer client:load />
        </div>
    </AuthGuard>
</Layout>
